/* Fonts */
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 200;
    src: url("../fonts/Work_Sans_200.eot?#iefix") format("embedded-opentype"), url("../fonts/Work_Sans_200.woff") format("woff"), url("../fonts/Work_Sans_200.woff2") format("woff2"), url("../fonts/Work_Sans_200.svg#WorkSans") format("svg"), url("../fonts/Work_Sans_200.ttf") format("truetype");
}
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Work_Sans_300.eot?#iefix") format("embedded-opentype"), url("../fonts/Work_Sans_300.woff") format("woff"), url("../fonts/Work_Sans_300.woff2") format("woff2"), url("../fonts/Work_Sans_300.svg#WorkSans") format("svg"), url("../fonts/Work_Sans_300.ttf") format("truetype");
}
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Work_Sans_500.eot?#iefix") format("embedded-opentype"), url("../fonts/Work_Sans_500.woff") format("woff"), url("../fonts/Work_Sans_500.woff2") format("woff2"), url("../fonts/Work_Sans_500.svg#WorkSans") format("svg"), url("../fonts/Work_Sans_500.ttf") format("truetype");
}

/* Page */
article section.page {
    font-family: "Work Sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 300;
}
article section.page h1:first-of-type {
    margin: 3rem 0rem;
    font-family: "Work Sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    text-align: center;
    text-transform: none;
    color: #060606;
    font-weight: 300;
    font-size: 3.25rem;
    line-height: 1.6em;
}
article section.page h1, section.page h2, article section.page h3, article section.page h4, article section.page h5, article section.page h6 {
    margin: 0;
    line-height: 1.6em;
}
article section.page p {
    margin: 0;
    line-height: 1.6em;
}
article section.page ul, article section.page ol, article section.page li {
    margin: 0;
    line-height: 1.6em;
    list-style-type: revert;
}

/* Header */
header::after {
    background: red;
    content: '';
    height: 0.25rem;
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
}

/* Hide */
footer {
    display: none;
}
